h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 10px red;
}

body {
  text-align: center;
  font-family: apple chancery;
  background-color: blue; 
}

#ball {
  height: 250px;
  width: 250px;
}

label {
  color: red;
}

div {
  border: 1px solid red;
  padding: 10px;
  display:none;
  width: 100%;
  text-align: center;
  color: orange;
}
button {
  display: centre;
}

table {
  text-align: center;
  align-self: center;
  margin:0 auto;
}

img {
  width: 100px;
  height: 100px;
}
#parentTable tr td {
  padding: 20px;
}
#special {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}
a {
  color: orange;
}
#progressBar {
  width: 400px;
  height: 22px;
  border: 1px solid;
  background-color: #795;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  color: red;
}

#progressBar div {
  height: 22px;
  text-align: right;
  line-height: 22px;
  width: 0px;
  background-color: red;
  border-radius: 10px;
  color: yellow;
}

#finalpoke {
  display: none;
  height: 150px;
  width: 150px;
}
#score {
  font-size: 25px;
}