h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 10px red;
}

body {
  text-align: center;
  font-family: apple chancery;
  bacground-image: url("http://www.walldevil.com/wallpapers/a79/5035-wallpaper-cool-postcard-background-desktop-design-media.jpg"); 
  background-color: blue;
}

#ball {
  height: 150px;
  width: 150px;
}

label {
  color: red;
}

div {
  border: 1px solid red;
  padding: 10px;
  display:none;
  width: 100%;
}
button {
  display: centre;
}

table {
  text-align: center;
  align-self: center;
}

img {
  width: 100px;
  height: 100px;
}