h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 10px red;
}

body {
  text-align: center;
  font-family: apple chancery;
  background-color: blue; 
}

#ball {
  height: 150px;
  width: 150px;
}

label {
  color: red;
}

div {
  border: 1px solid red;
  padding: 10px;
  display:none;
  width: 100%;
  text-align: center;
  color: orange;
}
button {
  display: centre;
}

table {
  text-align: center;
  align-self: center;
  margin:0 auto;
}

img {
  width: 100px;
  height: 100px;
}
#parentTable tr td {
  padding: 20px;
}
#special {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}
a {
  color: orange;
}